.idea

# ===== env vars =====
.env
.env.*
!.env.example

# ===== data =====
data/**/*_test.json

__pycache__/
*.py[cod]
*.egg-info/
**/.cache/
**/.ipynb_checkpoints/
*.tar.gz

# ===== Outputs =====
logs/
checkpoints/
main/outputs
main/src/financial_evaluation/tests/testdata/
