.idea

# ===== env vars =====
.env
.env.*
!.env.example

# ===== data =====
data/**/*_test.json

__pycache__/
*.py[cod]

# ===== Outputs =====
logs/
checkpoints/
main/outputs

# ===== Temp =====
main
